
.container{
    border:solid blue;
    padding:12px;
    display: flex;
    justify-content: space-between;
    margin:1em;
    border-radius:5px;
}
.dashboard{
    border:solid black;
    padding:1em;
}
.spacer{
    display:flex;
    justify-content: space-between;
}
.sprintContainer{
    border:solid black;
    padding:1em;
}
#pDiv {
    border: solid blue;
    padding: 1em;
}